/* styling for popovers */
.popover {
	color: #333;
	/* 
	background-color: #333;
	border: 5px solid #333;
	 */
}

/* the small triangle that points towards originating object */
/* 
.popover .arrow::after {
	border-bottom-color: transparent !important;
	get trid of popover arrow color glitch
	outline: 5px solid #333;
    outline-offset: -5px;
}
.popover .arrow::before {
	border-bottom-color: transparent !important;
	get trid of popover arrow color glitch
	outline: 5px solid #333;
    outline-offset: -5px;
}

.popover-header {
	color: white;
	background-color: #333;
}

.popover-body {
	color: white;
	background-color: #333;
}
 */

 
.new-notification {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

 
@-webkit-keyframes wiggle {
  0% {-webkit-transform: rotate(10deg);}
  25% {-webkit-transform: rotate(-10deg);}
  50% {-webkit-transform: rotate(20deg);}
  75% {-webkit-transform: rotate(-5deg);}
  100% {-webkit-transform: rotate(0deg);}
}

@-ms-keyframes wiggle {
  0% {-ms-transform: rotate(1deg);}
  25% {-ms-transform: rotate(-1deg);}
  50% {-ms-transform: rotate(1.5deg);}
  75% {-ms-transform: rotate(-5deg);}
  100% {-ms-transform: rotate(0deg);}
}

@keyframes wiggle {
  0% {transform: rotate(10deg);}
  25% {transform: rotate(-10deg);}
  50% {transform: rotate(20deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}
 