/* CSS styles for the project */

/** General webpage formatting **/
body {
	color:  white;
	font-family: "Fira Sans", sans-serif;
	background: rgb(52, 58, 64); /* Bootstrap bg-dark color */
}

a {
	color: #68f;
}

a:hover {
	color: #68f;
	text-decoration: none;
	border-bottom: 2px solid #68f;
}

#navbar {
	/*border-bottom: 3px solid #333;*/
}

div {
	outline: none; /* get rid of glow around text input divs */
}

code {
	font-family: "Cousine", monospace;
	color: white
}

.error {
	border-radius: 5px;
	background-color: #333;
}

/** Bootstrap Dark Modal Styles **/
/*source: https://www.vandelaydesign.com/modal-bootstrap/*/
.modal-content {
	background: transparent;
}
.modal-open .modal, .btn:focus {
		outline: none !important;
}

.modal.dark { background-color: #2d3032; }
.modal.dark .modal-body {
	background: #40464b;
}

.modal.dark .modal-header {
	background: #2d3032;
	border-bottom: 1px solid #2a2c2e;
}
.modal.dark .modal-header h1, .modal.dark .modal-header h2, .modal.dark .modal-header h3, .modal.dark .modal-header h4 {
	color: #ccc;
}

.modal.dark .modal-footer {
	background: #2d3032;
	border-top: 1px solid #2a2c2e;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
